<script type="text/javascript">
  console.log({{site | jsonify}});
  site = {{site | jsonify}};
  console.log({{page | jsonify}});
</script>

<div class="sidebar">
  <div class="container">
    <nav class="sidebar-nav">
      <b class="sidebar-nav-item">
          <a class = "active" href="{{ site.baseurl }}">
            <h4>Home</h4>
          </a>
        </b>
      {% for section in site.pages %}
        {% if section.layout == "page" %}
          <b class="sidebar-nav-item">
            <a class="{% if section.id == page.id %} active {% endif %}" href="{{ site.baseurl }}{{ section.path }}">
              {{ section.title }}
            </a>
          </b>
          {% if section.id == page.id %}
            {% for anchor in page.anchors %}
              <a class="sidebar-nav-item" href="#{{ anchor[0] }}">
                {{ anchor[1] }}
              </a>
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
  <div class="container sidebar-sticky" style="font-size:12px">
    <a href = "{{ site.github.repo }}" target="_blank">
      <img src="{{site.baseurl}}/public/github.png"/>
    </a>
    <div>Powered by <a href="https://github.com/poole/hyde" class="active">Hyde</a></div>
  </div>
</div>
